<!-- <div class="container">
  <ng-content select="p">

  </ng-content>
  <h1>Angular {{getEdadNombre()}}</h1>
  {{10 + 20}}

  <ng-content select="div"></ng-content>
</div> -->

<h1>Curso</h1>
<h3>{{ name }}</h3>
<!-- <button [disabled]="isAvailable" [ngClass]="'active'" type="button">Inscribir</button> -->
<!-- <button [disabled]="isAvailable" [ngClass]="css_classes" type="button">Inscribir</button> -->

<p *ngIf="!isAvailable; else available">Ejemplo</p>

<ng-template #available>
  <span class="highlight">Curso disponible</span>
</ng-template>


<button [disabled]="isAvailable" [ngClass]="{active: isAvailable}" type="button">Inscribir</button>

